.container.page-content
  %h2 Tell us more about your business.

  .errors
    = render 'shared/form_errors', resource: @chef

  .row.justify-content-center
    .col
      = form_for :chef, url: user_chefs_path(@chef.user), method: :put do |form|
        .form-group
          = form.label :business_name, class: :required
          = form.text_field :business_name, class: [:focus, 'form-control']
        .form-group
          = form.label :business_description, class: :required
          = form.text_field :business_description, class: 'form-control'
        .form-group
          %strong Cuisines
          = form.collection_check_boxes(:cuisine_ids, Cuisine.all, :id, :name) do |cuisine|
            .cuisine
              = cuisine.check_box
              = cuisine.label
        .form-group
          %strong Dietary Accommodations
          = form.collection_check_boxes(:dietary_accommodation_ids, DietaryAccommodation.all, :id, :name) do |acc|
            .accommodation
              = acc.check_box
              = acc.label
        .form-group
          %strong Certifications
          = form.collection_check_boxes(:certification_ids, Certification.all, :id, :name) do |cert|
            .certificationx
              = cert.check_box
              = cert.label
        .form-group
          = form.submit 'Update', class: ['btn btn-primary', 'form-control']
