.container.page-content
  %h2 Find Chefs
  .row
    .col-sm
      = form_for :report_form, method: :get do |f|
        .form-group
          = f.label 'Filter by keywords:'
        .form-group
          = f.text_field :q
          = f.submit 'Search', class: 'btn btn-primary'

      - if @chefs.length == 0
        %p No results available.
      - else
        - @chefs.each do | chef |
          .card
            .card-header
              = User.find_by_id(chef.user_id).full_name
            .card-body
              %h3.card-title
                = chef.business_name
              %p.card-text
                = chef.business_description
              %p
                = "Distance: #{chef.user.distance_to(@current_user).to_d.truncate(1)} miles"
            .card-body
              = link_to 'View Profile', user_chefs_path(User.find_by_id(chef.user_id)), class: 'btn btn-primary'
