.container.page-content
  .row
    .col-sm-3
      %h2
        = @chef.user.full_name
    .col
      - if @chef.user == current_user
        = link_to 'Edit Profile', edit_user_chefs_path(@chef), class: 'btn btn-primary'
  .row
    .col.business

      .business-name
        %strong= @chef.business_name

      .business-description
        = @chef.business_description

  %hr

  .row
    .dietary-accommodations.col-md
      %strong Dietary Accommodations
      - @chef.dietary_accommodations.each do |acc|
        .accommodation
          = acc.name
    .certifications.col-md
      %strong Certifications
      - @chef.certifications.each do |cert|
        .certifiction
          = link_to(cert.url, target: '_blank') do
            = cert.name
    .cuisines.col-md
      %strong Cuisines
      - @chef.cuisines.each do |cuisine|
        .cuisine
          = cuisine.name


  %hr

  .row
    .col-sm-3.meals
      %h3 Meals Offered

    .col
      - if @chef.user == current_user
        = link_to 'Edit Meals', chef_meals_path(@chef), class: 'btn btn-primary'

  .row
    - @chef.meals.each do |meal|
      .card.meal-card
        = image_tag('tiffin_cover.jpg', class: 'card-img-top')
        .card-body
          %h4.card-title= meal.short_name
          %p.card-text= meal.description
        %ul.list-group.list-group-flush
          .list-group-item
            %h5
              Cuisine
            - meal.cuisines.each do |cuisine|
              .meal-card__enumerable
                = cuisine.name
          .list-group-item
            %h5
              Dietary Accomodations
            - meal.dietary_accommodations.each do |acc|
              .meal-card__enumerable
                = acc.name