.container.page-content
  .row
    .col
      %h2
        = @chef.user.full_name

  .row
    .col.business

      .business-name
        %strong= @chef.business_name

      .business-description
        = @chef.business_description

  %hr

  .row
    .dietary-accommodations.col-md
      %strong Dietary Accommodations
      - @chef.dietary_accommodation.each do |acc|
        .accommodation
          = acc.name
    .certifications.col-md
      %strong Certifications
      - @chef.certification.each do |cert|
        .certifiction
          = link_to(cert.url, target: '_blank') do
            = cert.name
    .cuisines.col-md
      %strong Cuisines
      - @chef.cuisine.each do |cuisine|
        .cuisine
          = cuisine.name


  %hr

  .row
    .col.meals
      %h3 Meals Offered

      .row
        - @chef.meals.each do |meal|
          .col
            .card
              = image_tag('tiffin_cover.jpg', class: 'card-img-top')
              .card-body
                %h5.card-title= meal.short_name
                %p.card-text= meal.description
                .meal-cuisines
                  - meal.cuisine.each do |cuisine|
                    %small= cuisine.name
                .meal-accommodations
                  - meal.dietary_accommodation.each do |acc|
                    %small= acc.name