%h1 Sign Up

= form_for(:user, url: users_path, method: :post) do |form|
  = form.label :first_name, class: :required
  = form.text_field :first_name, class: :focus
  %br
  = form.label :last_name, class: :required
  = form.text_field :last_name
  %br
  = form.label :email, class: :required
  = form.text_field :email
  %br
  = form.label :street_address, class: :required
  = form.text_field :street_address
  %br
  = form.label :city, class: :required
  = form.text_field :city
  %br
  = form.label :state, class: :required
  = form.text_field :state
  %br
  = form.label :zip_code, class: :required
  = form.text_field :zip_code
  %br
  = form.label :contact_phone, class: :required
  = form.text_field :contact_phone
  %br
  = form.label :password, class: :required
  = form.password_field :password, class: :focus
  %br
  = form.submit 'Sign Up', class: 'btn btn-primary'

-#first
-#last
-#street address
-#city
-#state
-#zip
-#phone
-#email
-#password



