.container.page-content
  .row
    - @meals.each do | meal |
      .card.meal-card
        = image_tag('tiffin_cover.jpg', class: 'card-img-top')
        .card-body
          %h4.card-title
            = meal.short_name
          %p.card-text
            = meal.description
        %ul.list-group.list-group-flush
          %li.list-group-item
            %h5
              Cuisine
            - meal.cuisines.each do |cuisine|
              .meal-card__enumerable
                = cuisine.name
          %li.list-group-item
            %h5
              Dietary Accomodations
            - meal.dietary_accommodations.each do |acc|
              .meal-card__enumerable
                = acc.name
        .card-body
          %p
            = link_to 'Edit', edit_meal_path(meal), class: 'btn btn-primary'
            = link_to 'Delete', meal_path(meal), {method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-primary'}
  = link_to 'Add New Meal', new_chef_meal_path(), class: 'btn btn-primary'
